<nav id="nav"><h1>🍎 Apple Store</h1>
</nav>
<div id="credentail">
    <h3>Note: Please use below credentails to test it.</h3>
    <p>Username: saif@test.com</p>
    <p>Password: 123testing</p>
</div>
<div class='container'> 
    <div class="div1">
    <h2>MacBook Pro</h2>
    <img src="./assets/macpro.png">
    <h4 id="dis">Powerful notebooks featuring fast processors, incredible graphics, Touch Bar, and a spectacular Retina display.</h4>
    <h2 [hidden]="paid">Only $999</h2>
    <p [hidden]="paid" #paypal></p> 
    <h2 [hidden]="!paid" style="  text-decoration: line-through; ">Only $999</h2>
    <h2 [hidden]="!paid">Happy Shopping 😁 <br> You Got It!</h2> 
    </div>
</div>
<div class='container'> 
</div>


 