

<div class='container'> 
    <div class="div1">
        <h1>MacBook </h1>
    <img src="./assets/mac.png">
    <h4 id="dis">Apple MacBook Air (13-inch, 8GB RAM, 128GB Storage, 1.8GHz Intel Core i5) - Silver</h4>
    <h2 [hidden]="paid">Only $499</h2>
    <p [hidden]="paid" #paypal id="pay"></p> 
    <h2 [hidden]="!paid" style="  text-decoration: line-through; ">Only $499</h2>
    <h2 [hidden]="!paid">Happy Shopping 😁 <br> You Got It!</h2> 
    </div>
</div>
<div class='container'> 
</div>
<footer>Created By Saif <br> Contact  us: u4saif@gmail.com</footer>
